*.o
.DS_Store
.*.swp
/env
/dl
/feeds
/.config
/.config.old
/bin
/build_dir
/staging_dir
/tmp
/logs
/dl
/feeds.conf
/files
/package/feeds
/package/openwrt-packages
/package/network/utils/wwan/files/data
/package/utils/usbmode/data
/package/usb-modeswitch-official/files/usb_modeswitch.d
key-build*
*.orig
*.rej
*~
.#*
*#
.emacs.desktop*
TAGS*~
git-src
